### 사전(dict): 가변형(mutable), 순서가 없다, 연관형, 매핑형 ,{ } : 중괄호사용
#### {key:value,.....}, key 는 반드시 immutable형 이어야 한다(숫자형,문자열,튜플),
#### value 는 mutable,immutable 모두 사용 가능하다

In [1]:
a = {'name':'홍길동','age':30,'phone':'010-1234-1234','birth':'20221203',10:100}
print(a)
print(type(a))

{'name': '홍길동', 'age': 30, 'phone': '010-1234-1234', 'birth': '20221203', 10: 100}
<class 'dict'>

In [2]:
# 요소 접근 : a[key]
print(a['name'],a['age'],a['birth'],a[10])

홍길동 30 20221203 100

In [3]:
# 요소 수정
a['name'] = '김철수'  # 요소 변경이 가능
a['age'] = 20
a[10] =500
print(a)

{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 'birth': '20221203', 10: 500}

In [4]:
# 요소 추가
a['주소'] = '서울시'
a['직업'] = '학생'
a[(1,2,3)] = '튜플데이터'
print(a)

{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 'birth': '20221203', 10: 500, '주소': '서울시', '직업': '학생', (1, 2, 3): '튜플데이터'}

In [5]:
# 제거
del a['주소']
del a[(1,2,3)]
print(a)

{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 'birth': '20221203', 10: 500, '직업': '학생'}

In [6]:
# 연산자
# dir(a)          # 클래스가 지원하는 메서드 목록을 출력

print(a.keys())   # key 값들 만 dict_keys타입으로 변환
print(type(a.keys()))

print(a.values()) # value 값들만 dict_values 타입으로 변환
print(type(a.values()))

print(a.items())  # key와 value값을 튜플로 만들어 dict_items 타입으로 변환

dict_keys(['name', 'age', 'phone', 'birth', 10, '직업'])
<class 'dict_keys'>
dict_values(['김철수', 20, '010-1234-1234', '20221203', 500, '학생'])
<class 'dict_values'>
dict_items([('name', '김철수'), ('age', 20), ('phone', '010-1234-1234'), ('birth', '20221203'), (10, 500), ('직업', '학생')])

In [7]:
print(a['name'])
print(a.get('name'))
# a['hobby']           # KeyError: 'hobby'
ret = a.get('hobby')   # key 가 없으면 None
print(ret)

print(a.get('hobby','독서')) # 원본은 수정되지 않음

김철수
김철수
None
독서

In [8]:
# 추가
d = {'gender':'남성', 'ten':10}
a.update(d)  #  새로운 dict의 요소를 a에 추가 
a

{'name': '김철수',
 'age': 20,
 'phone': '010-1234-1234',
 'birth': '20221203',
 10: 500,
 '직업': '학생',
 'gender': '남성',
 'ten': 10}

In [9]:
# 제거
ret = a.pop('ten')
print(ret)
print(a)

10
{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 'birth': '20221203', 10: 500, '직업': '학생', 'gender': '남성'}

In [10]:
a.clear()   # 빈 사전을 생성
print(a,type(a))

{} <class 'dict'>

In [11]:
# 사전 내장
a = {k:ord(k) for k in 'abcdefg'}
a

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103}

In [12]:
print(ord('a'))  # 아스키 코드값으로
print(chr(97))   # 문자로 변환

97
a

#### 집합(set) : mutable, 순서가 없다, { }중괄호 사용, 중복을 허용하지 않는다

In [13]:
s = {1,2,3,4}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [14]:
s = {4,4,4,6,6,6,1,1,1,8,8,8}
print(s)

{8, 1, 4, 6}

In [15]:
# 리스트에서 중복된 요소를 제거
l = [4,4,4,6,6,6,1,1,1,8,8,8]
l2 = list(set(l))
print(l2)

[8, 1, 4, 6]

In [16]:
#추가
s.add(9)
s

{1, 4, 6, 8, 9}

In [17]:
# 제거
s.remove(9)
s

{1, 4, 6, 8}

In [18]:
s.update([0,1,2])
s

{0, 1, 2, 4, 6, 8}

In [19]:
# s[0]   # 순서가 없는 자료형이므로 인덱싱과 슬라이싱 불가

In [20]:
# 집합 내장(set comprehension)
s = {k*2 for k in range(6)}
print(s)

s = {v for v in 'python hello' if v not in 'aeiou'} # 자음만 추출
print(s)

{0, 2, 4, 6, 8, 10}
{'t', 'l', 'y', 'p', 'n', 'h', ' '}

In [21]:
# 자료형을 구별
a = 10             # int     (정수형)
f = 5.34           # float   (실수형)
s1 = 'hello'       # str     (문자열)
l = [1,2,3]        # list    (리스트)
t = (1,2,3)        # tuple   (튜플)
d = {'a':1,'b':2}  # dict    (사전)
s = {1,2,3}        # set     (집합)